<div class="mx-5 my-3">
  <h2>toArray</h2>
  <br>
  <div class="row">
    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded"><strong>Ex-1 Interval</strong></p>
      <hr>
      <div class="px-3">
        [{{a}}]
      </div>
    </div>

    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded"><strong>Ex-2 From</strong></p>
      <hr>
      <div class="px-3">
       In console
      </div>
    </div>

    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded"><strong>Ex-3 Of</strong></p>
      <hr>
      <div class="px-3">
        [{{c}}]
      </div>
    </div>

  </div>

</div>
