<div class="container">
  <h2>Indian Premier League</h2>
  <br>
  <div class="d-flex flex-row">
    <!-- season -->
    <div class="dropdown col-4">
      <label class="fs14 fs18" for="season">SEASON</label>
      <select [(ngModel)]="seaSelect" (ngModelChange)="Season(seaSelect)">
        <option *ngFor="let s of sea" [value]="s.year">{{s.year}}</option>
      </select>
    </div>

    <div class="col-1">
      <button id="umpire" (click)="Umpire()">Umpire</button>
    </div>
    <div class="col-1">
      <button id="venue" (click)="Venue()">Venue</button>
    </div>
    <div class="col-1">
      <button id="team" (click)="printTeam()">Team</button>
    </div>

    <!-- team -->
    <div class="dropdown col-3 ms-auto" style="left : 7.5rem"
      *ngIf='!teamFlag && !umpireFlag && !venueFlag && !afterTeamFlag'>
      <label class="fs14 fs18">Team City</label>
      <select [(ngModel)]="cityTeam" (ngModelChange)="City(cityTeam)">
        <option *ngFor="let c of cities" [value]="c.city">{{c.city}}</option>
      </select>
    </div>
  </div>
  <br>
  <ng-container *ngIf="!umpireFlag && !venueFlag && !teamFlag">
    <table>
      <thead>
        <tr>
          <th>City</th>
          <th>Date</th>
          <th>Player_of_match</th>
          <th>Season</th>
          <th>Team1</th>
          <th>Team2</th>
          <th>Toss_Dec</th>
          <th>Toss_Winner</th>
          <th>Umpire1</th>
          <th>Umpire2</th>
          <th>Venue</th>
          <th>Winner</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of httpdata" id="myData" style="margin-top: 5%;">
        <td>{{data.city}}</td>
        <td id='date'>{{data.date}}</td>
        <td>{{data.player_of_match}}</td>
        <td>{{data.season}}</td>
        <td>{{data.team1}}</td>
        <td>{{data.team2}}</td>
        <td>{{data.toss_decision}}</td>
        <td>{{data.toss_winner}}</td>
        <td>{{data.umpire1}}</td>
        <td>{{data.umpire2}}</td>
        <td>{{data.venue}}</td>
        <td>{{data.winner}}</td>
      </tbody>
    </table>
  </ng-container>

  <ng-container *ngIf="umpireFlag && !venueFlag && !teamFlag">
    <div class="row">
      <div class="column">
        <table>
          <thead>
            <tr>
              <th>Umpire</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of name">
            <td>{{data}}</td>
          </tbody>
        </table>
      </div>
      <div class="column">
        <table>
          <thead>
            <tr>
              <th>Count</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of count">
            <td>{{data}}</td>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="venueFlag && !teamFlag && !umpireFlag">
    <ul>
      <li *ngFor="let v of venueCityArr">{{v}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="!umpireFlag && !venueFlag && teamFlag">
    <table>
      <thead>
        <tr>
          <th>Team</th>
        </tr>
      </thead>
      <tbody *ngFor="let tname of teamList">
        <td><button (click)="selectTeam(tname)">{{tname}}</button></td>
      </tbody>
    </table>
  </ng-container>
</div>
