<div class="row mx-0">
  <div class="col-md-12">
    <ul class="list">
      <li>
        <a routerLink="from-event">fromEvent</a>
      </li>
      <li>
        <a routerLink="interval">Interval</a>
      </li>
      <li>
        <a routerLink="of-from">Of-From</a>
      </li>
      <li>
        <a routerLink="to-array">To-Array</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="from-event">Custom Observable</a>
      </li>
      <li>
        <a routerLink="question">New and Create</a>
      </li>
      <li>
        <a routerLink="subject">Subject</a>
      </li>
      <li>
        <a routerLink="replay-subject">Replay-Subject</a>
      </li>
    </ul>
    <ul class="list">
            <li>
                <a routerLink = "ipl">IPL</a>
            </li>
            <!-- <li>
                <a routerLink = "from-event">fromEvent</a>
            </li>
            <li>
                <a routerLink = "from-event">fromEvent</a>
            </li>
            <li>
                <a routerLink = "from-event">fromEvent</a>
            </li> -->
        </ul>
  </div>
</div>
